* {
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    text-align: center;
    padding-top: 160px;
    background-image: url(https://i.ibb.co/mBdcjgs/background-image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: 'Inter', sans-serif;
  
    height: 100vh;
  }
  
  h3 {
    font-size: 16px;
    line-height: 19px;
    color: white;
  }
  
  
  h1 {
    color: #FFC700;
    font-weight: 400;
    font-size: 64px;
    line-height: 80px;
    font-family: 'Emilys Candy', cursive;
  }
  
  h3 span {
    color: #FFC700;
  }
  
  p {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 72px;
    color: white;
    opacity: .7;
  }
  
  a {
    padding: 12px 32px;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: white;
    opacity: .6;
  }
  a:hover,
  .primary {
    text-decoration: none;
    color: black;
    background-color: #FFC700;
    opacity: 1;
  }